body{
  background-color: rgb(184, 184, 184);
}
table{
  width: 50%;
  border-collapse: collapse;
}
th,td{
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th{
  background-color: lightgrey;
}